@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@400;700;800&family=Poppins&family=Roboto+Mono&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.text_primary{
    color: #FD6E0A;  
}
.btn_primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* ------------- nav related style ------------*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
.nav_title{
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav  li{
    list-style: none;
    margin-right: 50px;
}
nav  a{
    text-decoration: none;
    color: #474747;
}

/* ------------- header related style ------------*/

.header{
    background-color: #FFF8F3;
    background-image: url('image/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner_gratting{
    font-size: 45px;
    color: #474747;
}
.banner_title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner_disc{
    margin-bottom: 20px;
}
.profile_pic{
    width: 584px;
    height: 676px;
}